/* סגנון כללי */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #848080;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* סגנון כותרת */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* סגנון כפתור */
.b_add_rem {
    background-color: #544c40;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.b_add_rem:hover {
    background-color: #98ac99;
}

/* סגנון לקישור */
a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

/* סגנון של תמונות */
img {
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hr {
    border: none;
    border-top: 1px solid #000000;
    margin: 20px 0;
}

#cl_r{
    font-size: small;
}
